html, body {
	margin:0;
	padding:0;
	height:100%;
}
#chatinput {
	height:54px;
	width:calc(100% - 74px);
	margin-bottom:0px;
	margin-left:10px;
	margin-right:10px;
	position:absolute;
	border-bottom:0px;
	box-shadow:rgba(0,0,0,0) 0px 0px 0px 0px;
}
#chat-display{
	height:calc(100% - 118px);
	overflow-y:scroll;
	position:relative;
}

.chatbox-user{
	max-width:90%;
	display: inline-block;
	padding:8px;
	border-radius:20px;
	background-color:#EE6E73;
	color:#fff;
}
.chatbox-irin{
	max-width:90%;
	display: inline-block;
	padding:8px;
	border-radius:20px;
	background-color: #fce4ec;
}

.chatbox-parent-irin{
	width: calc(100% - 8px);
    display: inline-flex;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
}
.chatbox-parent-user{
	width: calc(100% - 8px);
    display: inline-block;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
}
.irin-avatar{
	margin-right: 4px;
	width:5% !important;
	height:5% !important;
	max-height: 40px !important;
	min-height: 30px !important;
	max-width: 40px !important;
	min-width: 30px !important;
}

@media (max-width: 600px) {
  #chat-display{
	height:calc(100% - 110px);
  }
}